@using ShoppingApp.Web.Models.Dtos
@model List<ProductDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ürünler</h1>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-danger text-white">
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Ürün Fiyatı</th>
                <th>Eklenme Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productDto in Model)
            {
                <tr>@productDto.Id</tr>
                <tr>@productDto.Name</tr>
                <tr>@productDto.Price</tr>
                <tr>@productDto.DateAdded</tr>
            }
        </tbody>
    </table>
    
 @*   @foreach (var productDto in Model)
    {

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@productDto.Name</h5>
                <h6 class="card-subtitle mb-2">@productDto.Price</h6>
                <h6 class="card-subtitle mb-2">@productDto.DateAdded</h6>
            </div>
        </div>
    }*@


</div>
