@model List<Kitap>
@{
    ViewData["Title"] = "Kitap";
}
<h1 class="display-6">Kategori Listesi</h1>
<hr>

<table class="table table bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Ad</td>
            <td>Basım Yılı</td>
            <td>Sayfa Sayısı</td>
            <td>Kategori</td>
            <td>Yazar</td>
            
        
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
           <tr>
            <td>@k.Id</td>
                <td>@k.Ad</td>
                <td>@k.BasimYili</td>
                <td>@k.SayfaSayisi</td>
                <td>@k.Kategori.Ad</td>
                <td>@k.Yazar.Ad</td>
                
           </tr>
    
        }
    </tbody>
</table>